.container {
    padding: 3rem;
}
.box {
    height: 10px;
    display: block;
    background-color: red;
}
.message-error {
    background-color: red;
    color: white;
    opacity: 0;
    transition: all linear .5s;
}
.message-error.show {
    opacity: 1;
}